<section class="home-panel">

	<div id="main">

		<div class="home-panel-content" id="first">

			<h2>Celebrity Voiceovers<h2>

			<a class="cta color">Signup</a>

			<a class="cta clear">I'm a Voiceover Professional</a>

		</div>

	</div>

<section>

<section class="home-panel">



<section>