<div class="content">

	<h2 class="content-header">Find Voiceover Professionals that Sound Like:</h2>

	<ul class="celeb-summary-list">

		<% @celebs.each do |celeb| %>

			<li>
				<%= link_to(root_path, class: "link-wrapper")  do %>
				
					<div class="celeb-summary-panel">

						<%= image_tag celeb.image.url(:medium) %>

						<h3><%= celeb.full_name %></h3>

					</div>

				<% end %>

			</li>

		<%end%>

	</ul>

</div>
