<div class="content">

	<h2 class="content-header">Browse Voiceover Professionals by Soundalike</h2>

	<ul class="celeb-summary-list">

		<% @celebs.each do |celeb| %>

			<li>

				<div class="celeb-summary-panel">

					<%= image_tag celeb.image.url(:medium) %>

					<h3><%= celeb.full_name %></h3>

				</div>

			</li>

		<%end%>

	</ul>

</div>
