<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voice_over_type.name %>
</p>

<%= link_to 'Edit', edit_voice_over_type_path(@voice_over_type) %> |
<%= link_to 'Back', voice_over_types_path %>
