// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header-container{
	background-color: #fff;
    color: #666;
    border-bottom: 1px solid #ccc;
    position: fixed;

    a{
    	color: #666;
    	padding: 25px 25px;
    	line-height: 20px;
		font-size: 20px;

    }
}

.dashboard-header-container{
	background-color: #222;
    
    a{
    	color: #fff;
    	padding: 15px 25px;
    	line-height: 16px;
		font-size: 16px;
    }

    a:hover{
    	background: #4d90fe;
    }
}


.header-container, .dashboard-header-container{

    width: 100%;

    div.header-center{

    	margin:0 auto;
    	width: 100%;
    	max-width:1000px;
	
		ul{

			list-style-type: none;
	    	margin: 0;
	    	padding: 0;
	    	display: inline;


			li{

				display: inline-block !important;
		    	word-wrap: break-word !important;
		    	text-align: justify;

		    	a{
		    		display: block;
		    		text-decoration:none;
		    	}

		    	a:hover{
		    		cursor: pointer;
		    		
		    	}

			}

		}

		
		ul.header-left{

			
		}


		ul.header-right{

			float: right;
			display:inline-block;
		}

	}
}