// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section.home-panel{
	
	width:100%;
	height: 100%;
	background: red;
	position: absolute;

	#main{
		padding-top: 50px;
	}

	.home-panel-content{
		margin: 100px auto;
		width:100%;
		max-width:1000px;
	}

	.home-panel-content#first{
		
		h2{
			color:#fff;
			width:100%;
			text-align:center;
			font-size: 60px;
		}

		a.cta{
			
			padding: 8px 24px;
			font-size: 20px;

			color{
				background: rgba(0,100,100,1);
				color: #fff;
			}

			.clear{
				background: rgba(255,255,255,0);
				color: #ccc;
			}
		}

	}

}
