<div class="content">

	<h2 class="content-header">Your Voiceover Projects</h2>

	<% if current_user.gigs.count == 0 %>

		<div class="project-dashboard none">

			<%= link_to "+ Submit a New Project", project_submit_path%>

		</div>


	<% else%>


		<div class="project-dashboard">



		</div>


	<%end%>

</div>