<div class="content">

	<h2 class="content-header">Your Voiceover Projects</h2>

	<% unless current_user.is_voiceover_professional %>

		<% if current_user.gigs.count == 0 %>

			<div class="project-dashboard none">

				<%= link_to "+ Submit a New Project", project_submit_path%>

			</div>


		<% else%>


			<div class="project-dashboard">

				<% current_user.gigs.each do |project| %>

					<%= render 'gigs/summary_index' %>

				<% end %>


			</div>


		<%end%>

	<%else%>

		<% if current_user.auditions.count == 0 %>

			<div class="project-dashboard none">

				<%= link_to "Audition for New Projects", gig_index_for_auditions_path %>

			</div>

		<%end%>


	<%end%>

</div>