<div class="dashboard-header-container">

	<div class="header-center">

		<ul class="header-left">

			<li><%= link_to "Your Projects", root_path %></li>
			<li><%= link_to "Favorite Actors", root_path %></li>

		</ul>

	</div>

</div>