<footer class="footer-container">

	<ul>

		<% if user_signed_in? %>
			
			<% if current_user.admin %>

				<li><%= link_to "Celebs", celebs_path %></li>

				<li><%= link_to "Voice Over Types", voice_over_types_path %></li>

			<% end %>

		<% end %>

	</ul>

</footer>